[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-smartinput"]
	path = bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
